$hero-text-color: #37474f;

$p-font: var(--font-nbinternational);
$heading-font: var(--font-neueplak);
$mono-font: var(--font-nbinternational-mono);

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1366px;

$nav-padding-mobile: 24px;
$nav-padding-desktop: 36px;

$main-padding-mobile: clamp(1rem, 0.5rem + 6vw, 5rem);
$main-padding-desktop: clamp(24px, 0.5rem + 8vw, 10rem);

//Font Sizes
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.375rem;
$p-size: 1.125rem;

//Colors
html {
  --community-bg-color: #191919;
}
