.events_page {
  margin-inline: auto;
  max-width: 2000px;
  margin-block: 1rem;
  margin-inline: 1.5rem;

  @media (min-width: $mobile-breakpoint) {
    margin-inline: $main-padding-desktop;
  }

  h1 {
    margin-block: 5rem;
    font-size: clamp(2em, calc(24px + 1.5vw), 4em);
  }

  h2 {
    font-size: clamp(1.2em, calc(18px + 1.3vw), 32px);
  }

  .events-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 2.5rem;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    // Prevents it from expanding to 4 cards per row
    @media (min-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    gap: 0.5rem;

    @media (min-width: $mobile-breakpoint) {
      flex-direction: row;
      gap: 1rem;
    }

    button {
      --text-color: black;
      --background-color: white;
      color: var(--text-color);
      background-color: var(--background-color);
      border: 1.5px solid var(--text-color);
      border-radius: 40px;
      text-align: center;
      padding: 0.4rem 1rem 0.5rem;
      font-size: 1.1rem;
      font-family: $heading-font;
      font-weight: 700;
      cursor: pointer;
      width: fit-content;

      &.active {
        --text-color: white;
        --background-color: black;
      }
    }
  }
}
