@media screen and (max-width: 767px) {
  .events_page {
    h1 {
      margin-block: 2.5rem;
    }

    .events-container {
      margin-block: 1rem;
    }

    margin-inline: 1.5rem;
    margin-block: 1rem;
  }

  .button-container {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .events_page {
    margin-inline: auto;
    max-width: 2000px;
    margin-block: 1rem;

    @media screen and (max-width: 767px) {
      .events-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      .button-container {
        display: flex;
        gap: 1rem;
      }
    }

    @media screen and (min-width: 768px) {
      padding-inline: clamp(24px, 5px + 5vw, 6rem);
      margin-block: 1rem;

      h1 {
        margin-block: 2rem;
      }

      .upcoming-event {
        color: white;
        background-color: #191919;
        padding: 2rem 0;

        h2 {
          margin-left: 1rem;
        }
      }

      .button-container {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;

        button {
          --text-color: black;
          --background-color: white;
          color: var(--text-color);
          background-color: var(--background-color);
          border: 1.5px solid var(--text-color);
          border-radius: 40px;
          padding: 0.4rem 1rem 0.5rem;
          font-size: 1.1rem;
          font-family: $heading-font;
          font-weight: 700;
          cursor: pointer;

          &.active {
            --text-color: white;
            --background-color: black;
          }
        }
      }

      .events-container {
        margin: 1rem 0;
        margin-bottom: 1rem;
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
      }
    }
  }
}
