[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.nav-wrapper {
  position: relative;
  //   align-content: flex-start;
  display: flex;
  overflow: hidden;
  //   position: relative;
  //   touch-action: pan-y;
  //   user-select: none;
  width: 100%;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}

.shop-item-slider-root {
  display: flex;
  flex-direction: row-reverse;
  height: 500px;
  max-width: 300px;
}

.thumbnail-container {
  scrollbar-width: none;
  display: flex;
  width: 140px;
}
