[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.nav-wrapper {
  position: relative;
  //   align-content: flex-start;
  display: flex;
  overflow: hidden;
  //   position: relative;
  //   touch-action: pan-y;
  //   user-select: none;
  width: 100%;

  .keen-slider__slide img {
    object-fit: cover;
  }
}

.DialogContent {
  gap: 3rem;

  & > div {
    flex: 1;
    overflow: hidden;
  }
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
  --height: calc(150px);
  --width: calc(150px);

  width: var(--width) !important;
  min-width: var(--width) !important;
  max-width: var(--width) !important;
  height: var(--height) !important;
  min-height: var(--height) !important;
  max-height: var(--height) !important;

  position: relative;

  img {
    object-fit: contain;
    display: block;
    aspect-ratio: 1;
  }

  &.active {
    border: 2px dashed black;
  }
}

.shop-item-slider-root {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.thumbnail-container {
  scrollbar-width: none;
  display: flex;
  width: 140px;
}
