.event-image {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.event-image:hover,
.event-image:focus,
.event-image:active {
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
}

.event-card-content {
  .event-card-title {
    padding: 1rem 0;
  }

  .event-card-description {
    font-size: 15px;
  }
}
