.roles {
  font-family: var(--font-neueplak);
}

.apply-v2 {
  font-family: var(--font-neueplak);
}

.roles-dropdown {
  display: flex;
  flex-direction: column;
}

.team-label {
  font-size: 20px;
  font-family: var(--font-nbinternational);
}

.position-label {
  font-size: 26px;
}

.panel-content-container {
  h1 {
    font-size: 50px;
  }
}
