.hamburger {
  display: block;
  position: absolute;
  padding: 0;
  margin-block: var(--nav-padding-block);
  margin-inline: $main-padding-mobile;
  right: 0;
  top: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  z-index: 3;

  &-box {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }

  &-inner {
    inset: 0;
    margin: auto 0;

    &,
    &::before,
    &::after {
      width: 30px;
      height: 3px;
      background-color: inherit;
      margin-inline: auto;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before {
      top: -9px;
    }

    &::after {
      bottom: -9px;
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.hamburger--spin {
  .hamburger-inner {
    &::before {
      transition:
        top 0.1s 0.25s ease-in,
        opacity 0.1s ease-in;
    }

    &::after {
      transition:
        bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition:
          top 0.1s ease-out,
          opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition:
          bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
