.link-button {
  text-decoration: none;
  width: fit-content;
  font-family: $mono-font;
  text-transform: uppercase;
  padding: 1.2em 1.9em;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  color: var(--color);
  background-color: var(--background-color);

  &:is(:hover, :focus) {
    &::before {
      opacity: 0.2;
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: var(--border-color);
    border-width: 1.5px;
    top: 0.7em;
    left: 0.7em;

    position: absolute;
    transition: opacity 0.3s;
  }
}

.link-button--no-shadow {
  text-decoration: none;
  display: inline;
  width: fit-content;
  font-family: $mono-font;
  text-transform: uppercase;
  padding: 1.2em 1.8em;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  z-index: 0;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--background-color);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:is(:hover, :focus-visible) {
    outline: none;
    border: 1px solid var(--color);
    color: var(--background-color);
    background-color: var(--color);
  }
}
