#community_page {
  .community_blurb {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    text-align: center;
    gap: 3rem;

    @media (min-width: $mobile-breakpoint) {
      padding-top: 12rem;
    }

    .community_blurb__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 1.5rem;
      }

      a {
        width: 100%;
        margin-top: 2rem;
      }
    }

    @media (min-width: $mobile-breakpoint) {
      flex-direction: row;

      .community_blurb__section {
        text-align: left;

        a {
          width: fit-content;
        }
      }
    }

    #sticker-move-me {
      display: none;
      position: absolute;

      @media (min-width: $mobile-breakpoint) {
        display: flex;
      }

      p {
        font-family: $mono-font;
        font-size: 0.8rem;
      }

      img {
        padding-top: 0.75rem;
      }
    }

    .community-stickers__desktop {
      display: none;

      @media (min-width: $mobile-breakpoint) {
        display: block;
      }
    }

    .community-stickers__mobile {
      display: block;

      @media (min-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }
}
