.events_page {
  button {
    all: unset;
  }

  .AccordionRoot {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: $mobile-breakpoint) {
      gap: 6rem;
    }
  }

  .AccordionItem {
    overflow: hidden;
  }

  .AccordionItem:first-child {
    margin-top: 0;
  }

  .AccordionItem:focus-within {
    position: relative;
    z-index: 1;
  }

  .AccordionHeader {
    display: flex;
  }

  .AccordionTrigger {
    background-color: transparent;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    cursor: pointer;
  }

  .AccordionChevron {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    width: 40px;
    height: 40px;
  }

  .AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }

  .AccordionContent {
    overflow: hidden;
  }

  .AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  .AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
